@model WFPtest.Models.LoginViewModel

@{
    
}


<br>

    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h3>Use your WFP Global credentials to login.</h3>
                <hr />
    <font color="red">
        @Html.ValidationSummary(true)
    </font>
        <div class="form-group">
            @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
    
                    <div class="col-md-10">
                      
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.UserName)
                        <div style=" color :grey">
                            <h6><font color=" gray">Usernames do not include the domain (remove @@wfp.org). it will be your firstname.lastname, e.g. john.smith..</font></h6>
                        </div>
                    </div>
                        </div>
    
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password)
                        <h6><font color=" gray">Enter the password that accompanies your username.</font></h6>
                    </div>
                </div>
                @*<div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                </div>*@
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Log in" class="btn btn-default" />
                    </div>
                </div>
                @*<p>
                    @Html.ActionLink("Register", "Register") if you don't have a local account.
                </p>*@
            }
        </section>
    </div>
    <div class="col-md-4">
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new { Action = "ExternalLogin", ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}