@model IEnumerable<WFPtest.Models.TRAINEE>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ATTENDED)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PASSED)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TRAINING_EVALUATION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TRAINER_EVALUATION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TRAINING_PLAN_TRAINING_CLASSES.CLASS_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TRAINING.TRAINING_NAME)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ATTENDED)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PASSED)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TRAINING_EVALUATION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TRAINER_EVALUATION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TRAINING_PLAN_TRAINING_CLASSES.CLASS_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TRAINING.TRAINING_NAME)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
