@model WFPtest.Models.CourseSession

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>CourseSession</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Sessionid)

        <div class="form-group">
            @Html.LabelFor(model => model.CourseID, "CourseID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CourseID", String.Empty)
                @Html.ValidationMessageFor(model => model.CourseID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CourseDuration, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CourseDuration)
                @Html.ValidationMessageFor(model => model.CourseDuration)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CourseStartTime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CourseStartTime)
                @Html.ValidationMessageFor(model => model.CourseStartTime)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CourseEndTime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CourseEndTime)
                @Html.ValidationMessageFor(model => model.CourseEndTime)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CourseStartDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CourseStartDate)
                @Html.ValidationMessageFor(model => model.CourseStartDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CourseEndDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CourseEndDate)
                @Html.ValidationMessageFor(model => model.CourseEndDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CourseLocation, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CourseLocation)
                @Html.ValidationMessageFor(model => model.CourseLocation)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SessionName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SessionName)
                @Html.ValidationMessageFor(model => model.SessionName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CoursePrerequisite, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CoursePrerequisite)
                @Html.ValidationMessageFor(model => model.CoursePrerequisite)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
