@model WFPtest.Models.functional_title

@{
    ViewBag.Title = "Create";
}
<br>

<p>
  <h2> Create Title </h2>
</p>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
      
        <hr />
        @Html.ValidationSummary(true)

        <table class=" table">
            <tr>
                <th>
                    @Html.Label("Title Code")<b style="color:Red;">*</b>
                </th>
                <td>
                    @Html.EditorFor(model => model.functional_title_id)
                    @Html.ValidationMessageFor(model => model.functional_title_id)
                </td>


                <th>
                    @Html.Label("English Description")<b style="color:Red;">*</b>
                </th>
                <td>
                    @Html.EditorFor(model => model.functional_title_description_english)
                    @Html.ValidationMessageFor(model => model.functional_title_description_english)
                </td>

                <th>
                    @Html.Label("English Abreviation")<b style="color:Red;">*</b>
                </th>
                <td>
                    @Html.EditorFor(model => model.functional_title_abreviation_english)
                    @Html.ValidationMessageFor(model => model.functional_title_abreviation_english)
                </td>
                </tr>
            <tr>
                <th>
                    @Html.Label("French Description")
                </th>
                <td>
                    @Html.EditorFor(model => model.functional_title_description_french)
                    @Html.ValidationMessageFor(model => model.functional_title_description_french)
                </td>

                <th>
                    @Html.Label("French Abreviation")
                </th>
                <td>
                    @Html.EditorFor(model => model.functional_title_abreviation_french)
                    @Html.ValidationMessageFor(model => model.functional_title_abreviation_french)
                </td>

                <th>
                    @Html.Label("Status")<b style="color:Red;">*</b>
                </th>
                <td>
                    @Html.EditorFor(model => model.functional_title_status)
                    @Html.ValidationMessageFor(model => model.functional_title_status)
                </td>

            </tr>
        </table>
        @*Hidden*@

        @*<div class="form-group">
                @Html.LabelFor(model => model.functional_title_created_by, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.functional_title_created_by)
                    @Html.ValidationMessageFor(model => model.functional_title_created_by)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.functional_title_created_datetime, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.functional_title_created_datetime)
                    @Html.ValidationMessageFor(model => model.functional_title_created_datetime)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.functional_title_last_modified_by, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.functional_title_last_modified_by)
                    @Html.ValidationMessageFor(model => model.functional_title_last_modified_by)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.functional_title_last_modified_datetime, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.functional_title_last_modified_datetime)
                    @Html.ValidationMessageFor(model => model.functional_title_last_modified_datetime)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.functional_title_deleted_by, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.functional_title_deleted_by)
                    @Html.ValidationMessageFor(model => model.functional_title_deleted_by)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.functional_title_deleted_datetime, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.functional_title_deleted_datetime)
                    @Html.ValidationMessageFor(model => model.functional_title_deleted_datetime)
                </div>
            </div>*@

        <table border="0" align="center">
            <tr>
                <td>
                    <input type="submit" value="Create" class="btn btn-default" />
                </td>
                <td>
                    @Html.ActionLink("Back to List", "Index")
                </td>
            </tr>
        </table>

        
    </div>
}

