@model WFPtest.Models.functional_title

@{
    ViewBag.Title = "Delete";
}
<br>

<p>
   <h2> Delete Title</h2>
</p>


<h3>Are you sure you want to delete this?</h3>
<div>
    
    <hr />
    <table class=" table">
        <tr>
            <th>
                @Html.DisplayName("Title Code")
            </th>

            <td>
                @Html.DisplayFor(model => model.functional_title_id)
            </td>

            <th>
                @Html.DisplayName("English Description")
            </th>

            <td>
                @Html.DisplayFor(model => model.functional_title_description_english)
            </td>

            <th>
                @Html.DisplayName("English Abreviation")
            </th>

            <td>
                @Html.DisplayFor(model => model.functional_title_abreviation_english)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayName("French Description")
            </th>

            <td>
                @Html.DisplayFor(model => model.functional_title_description_french)
            </td>

            <th>
                @Html.DisplayName("French Abreviation")
            </th>

            <td>
                @Html.DisplayFor(model => model.functional_title_abreviation_french)
            </td>

            <th>
                @Html.DisplayName("Status")
            </th>

            <td>
                @Html.DisplayFor(model => model.functional_title_status)
            </td>

            @*<th>
                    @Html.DisplayNameFor(model => model.functional_title_created_by)
                </th>

                <td>
                    @Html.DisplayFor(model => model.functional_title_created_by)
                </td>

                <th>
                    @Html.DisplayNameFor(model => model.functional_title_created_datetime)
                </th>

                <td>
                    @Html.DisplayFor(model => model.functional_title_created_datetime)
                </td>

                <th>
                    @Html.DisplayNameFor(model => model.functional_title_last_modified_by)
                </th>

                <td>
                    @Html.DisplayFor(model => model.functional_title_last_modified_by)
                </td>

                <th>
                    @Html.DisplayNameFor(model => model.functional_title_last_modified_datetime)
                </th>

                <td>
                    @Html.DisplayFor(model => model.functional_title_last_modified_datetime)
                </td>

                <th>
                    @Html.DisplayNameFor(model => model.functional_title_deleted_by)
                </th>

                <td>
                    @Html.DisplayFor(model => model.functional_title_deleted_by)
                </td>

                <th>
                    @Html.DisplayNameFor(model => model.functional_title_deleted_datetime)
                </th>

                <td>
                    @Html.DisplayFor(model => model.functional_title_deleted_datetime)
                </td>*@
        </tr>
    </table> 

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
