@model WFPtest.Models.TRAINING_PLAN

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>TRAINING_PLAN</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.PLAN_ID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PLAN_ID)
                @Html.ValidationMessageFor(model => model.PLAN_ID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TRAINING_PLACE, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TRAINING_PLACE)
                @Html.ValidationMessageFor(model => model.TRAINING_PLACE)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PERIOD_FROM, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PERIOD_FROM)
                @Html.ValidationMessageFor(model => model.PERIOD_FROM)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PERIOD_TO, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PERIOD_TO)
                @Html.ValidationMessageFor(model => model.PERIOD_TO)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
