@using Microsoft.AspNet.Identity
@if (!Request.IsAuthenticated)
{
    Response.Redirect("/RBC-SMS/account/login");
}

@model PagedList.IPagedList<WFPtest.Models.contract_type >

@{
    ViewBag.Title = "Index";
}
<br>

<p>
    <h2>Contract Type List</h2>
</p>
@using WFPtest.Models


@using PagedList.Mvc;
@using JQueryUIHelpers;
@using (Html.BeginForm("Index", "contracttype", FormMethod.Get))
{


    <br>
    <p>
        Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />&nbsp;&nbsp;@Html.ActionLink("Reset Filter", "Index")
    </p>
}


<table class="table">
    <tr>
        @*<th>
            @Html.DisplayName("Type Code")
        </th>*@
        <th>
            @Html.ActionLink("Contract Type Name (Sort)", "Index", new { sortOrder = ViewBag.DateSortParm })
            @*@Html.DisplayName("Contract Type Name")*@
        </th>
        <th>
            @Html.DisplayName("Contract Type Description")
        </th>
        <th></th>
     
    </tr>

@foreach (var item in Model) {
    <tr>
        @*<td>
            @Html.DisplayFor(modelItem => item.contract_Type_code)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.contract_type_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.contract_type_description)
        </td>
      
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.contractTypeid }) |
            @Html.ActionLink("Details", "Details", new { id=item.contractTypeid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.contractTypeid })
        </td>
    </tr>
}

</table>
<table>
    <tr>
        <td>
            <p>
                @Html.ActionLink("Create New", "Create")
            </p>
        </td>
    </tr>
</table>
</br>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))