@model WFPtest.Models.TRAINING_PLAN_TRAININGS

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TRAINING_PLAN_TRAININGS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.REQUIRE_CERTIFICATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.REQUIRE_CERTIFICATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CERTIFICATE_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CERTIFICATE_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COASTPEREMP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COASTPEREMP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMPLPERCENTAGE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMPLPERCENTAGE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FAILPASSDEPENDANCY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FAILPASSDEPENDANCY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IFFAILPERCENTAGE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IFFAILPERCENTAGE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IFPASSPERCENTAGE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IFPASSPERCENTAGE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TRAINING_PLAN.TRAINING_PLACE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TRAINING_PLAN.TRAINING_PLACE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TRAINING_TYPE1.type_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TRAINING_TYPE1.type_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
