@model WFPtest.Models.contract_details

@{
    ViewBag.Title = "Edit";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<br>
<br>
<br>
<p>
 Edit Contract Details  
</p>
    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.contractdetailsid)

        <table class=" table">
            <tr>
                <th>
                    @Html.Label("Code")
                </th>
                <td>
                    @Html.EditorFor(model => model.contract_details_id)
                    @Html.ValidationMessageFor(model => model.contract_details_id)
                </td>


                <th>
                    @Html.Label("Description English")
                </th>
                <td>
                    @Html.EditorFor(model => model.contract_details_description_english)
                    @Html.ValidationMessageFor(model => model.contract_details_description_english)
                </td>

                <th>
                    @Html.Label("Abreviation English")
                </th>
                <td>
                    @Html.EditorFor(model => model.contract_details_abreviation_english)
                    @Html.ValidationMessageFor(model => model.contract_details_abreviation_english)
                </td>

                <th>
                    @Html.Label("Description French")
                </th>
                <td>
                    @Html.EditorFor(model => model.contract_details_description_french)
                    @Html.ValidationMessageFor(model => model.contract_details_description_french)
                </td>
            </tr>



            <tr>
                <th>
                    @Html.Label("Abreviation French")
                </th>
                <td>
                    @Html.EditorFor(model => model.contract_details_abreviation_french)
                    @Html.ValidationMessageFor(model => model.contract_details_abreviation_french)
                </td>

                <th>
                    @Html.Label("Status")
                </th>
                <td>
                    @Html.EditorFor(model => model.contract_details_status)
                    @Html.ValidationMessageFor(model => model.contract_details_status)
                </td>

                @*<th>
                        @Html.Label("Contract Type")
                    </th>
                    <td>
                        @Html.EditorFor(model => model.contract_type_code)
                        @Html.ValidationMessageFor(model => model.contract_type_code)
                    </td>*@

                <th>
                    @Html.Label("Fund")
                </th>
                <td>
                    @Html.DropDownList("fundid", String.Empty)
                    @Html.ValidationMessageFor(model => model.fundid)
                </td>

              
           

                

            </tr>
        </table>



        <br>
        <table border=" " align="center">
            <tr>
                <td>
                    <input type="submit" value="Save" class="btn btn-default" />
                </td>
                <td>
                    @Html.ActionLink("Back to List", "Index")
                </td>
            </tr>
        </table>

     

    </div>
}


        @*Hidden*@

        @*<div class="form-group">
                @Html.LabelFor(model => model.contract_details_created_by, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.contract_details_created_by)
                    @Html.ValidationMessageFor(model => model.contract_details_created_by)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.contract_details_created_datetime, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.contract_details_created_datetime)
                    @Html.ValidationMessageFor(model => model.contract_details_created_datetime)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.contract_details_last_modified_by, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.contract_details_last_modified_by)
                    @Html.ValidationMessageFor(model => model.contract_details_last_modified_by)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.contract_details_last_modified_datetime, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.contract_details_last_modified_datetime)
                    @Html.ValidationMessageFor(model => model.contract_details_last_modified_datetime)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.contract_details_deleted_by, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.contract_details_deleted_by)
                    @Html.ValidationMessageFor(model => model.contract_details_deleted_by)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.contract_details_deleted_datetime, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.contract_details_deleted_datetime)
                    @Html.ValidationMessageFor(model => model.contract_details_deleted_datetime)
                </div>
            </div>*@


 