@model WFPtest.Models.dependent

@{
    ViewBag.Title = "Edit";
}
<br>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <p>
            <h2>Edit Dependents</h2>
        </p>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.dependentsid)

        <table class=" table">
            <tr>
                <th>
                    @Html.Label("Code")
                </th>
                <td>
                    @Html.EditorFor(model => model.dependents_code)
                    @Html.ValidationMessageFor(model => model.dependents_code)
                </td>

               

                <th>
                    @Html.Label("First Name")
                </th>
                <td>
                    @Html.EditorFor(model => model.dependents_first_name)
                    @Html.ValidationMessageFor(model => model.dependents_first_name)
                </td>

                <th>
                    @Html.Label("Last Name")
                </th>
                <td>
                    @Html.EditorFor(model => model.dependents_last_name)
                    @Html.ValidationMessageFor(model => model.dependents_last_name)
                </td>
            </tr>
            <tr>


                <th>
                    @Html.Label("Gender")
                </th>
                <td>
                    @Html.EditorFor(model => model.dependents_gender)
                    @Html.ValidationMessageFor(model => model.dependents_gender)
                </td>

                <th>
                    @Html.Label("Phone Number")
                </th>
                <td>
                    @Html.EditorFor(model => model.dependents_phone_num)
                    @Html.ValidationMessageFor(model => model.dependents_phone_num)
                </td>
                <th>
                    @Html.Label("Blood Group")
                </th>
                <td>
                    @Html.EditorFor(model => model.dependents_blood_group)
                    @Html.ValidationMessageFor(model => model.dependents_blood_group)
                </td>

              

            </tr>
            <tr>
                <th>
                    @Html.Label("Passport Number")
                </th>
                <td>
                    @Html.EditorFor(model => model.dependents_passport_num)
                    @Html.ValidationMessageFor(model => model.dependents_passport_num)
                </td>

               
                <th>
                    @Html.Label("Notes")
                </th>
                <td>
                    @Html.EditorFor(model => model.dependents_notes)
                    @Html.ValidationMessageFor(model => model.dependents_notes)
                </td>

                <th>
                    @Html.LabelFor(model => model.staffid, "staffid", new { @class = "control-label col-md-2" })
                </th>
                <td>
                    @Html.DropDownList("staffid", String.Empty)
                    @Html.ValidationMessageFor(model => model.staffid)
                </td>

            </tr>
            <tr>

                <th>
                    @Html.Label("Expiry Date")
                </th>
                <td>
                    @*@Html.JQueryUI().DatepickerFor(model => model.staff_dob)*@
                    @*@Html.EditorFor(model => model.staff_dob)*@
                    @*@Html.ValidationMessageFor(model => model.staff_dob)*@

                    @Html.JQueryUI().DatepickerFor(model => model.dependents_passport_expiry_date)
                    @Html.ValidationMessageFor(model => model.dependents_passport_expiry_date)
                </td>

                <th>
                    @Html.Label("Medical Condition")
                </th>
                <td>
                    @Html.EditorFor(model => model.dependents_medical_condition)
                    @Html.ValidationMessageFor(model => model.dependents_medical_condition)

                </td>

               
              
            </tr>
        </table>
        <table border="0" align="center">
            <tr>
                <td>
                    <input type="submit" value="Save" class="btn btn-default" />
                </td>
                <td>
                    @Html.ActionLink("Back to List", "Index")
                </td>
            </tr>
        </table>
     
    </div>
}


