@model IEnumerable<WFPtest.Models.dependent>

@{
    ViewBag.Title = "StaffDependents";
}
<br>
<br>
<br>
<p>
    Staff Dependents
</p>


<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Dependents Code")
        </th>
        <th>
            @Html.DisplayName("First Name")
        </th>
        <th>
            @Html.DisplayName("Last Name")
        </th>
        <th>
            @Html.DisplayName("Gender")
        </th>
        <th>
            @Html.DisplayName("Phone Number")
        </th>
        <th>
            @Html.DisplayName("Blood Group")
        </th>
        <th>
            @Html.DisplayName("Passport Number")
        </th>
        <th>
            @Html.DisplayName("Passport Expiry Date")
        </th>
        <th>
            @Html.DisplayName("Notes")
        </th>
        <th>
            @Html.DisplayName("Medical Condition")
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.staff.staff_id)
        </th>*@
       
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.dependents_code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dependents_first_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dependents_last_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dependents_gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dependents_phone_num)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dependents_blood_group)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dependents_passport_num)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dependents_passport_expiry_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dependents_notes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dependents_medical_condition)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.staff.staff_id)
        </td>*@
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.dependentsid }) |
            @Html.ActionLink("Details", "Details", new { id=item.dependentsid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.dependentsid })
        </td>*@
    </tr>
}

</table>
